*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
:root{
    --color-white: #F1F2F3;
    --color-black: #272829;
    --color-gray-black: #61677A;
    --color-gray-white: #E0F3FF;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-black);
}
.container{
    max-width: 500px;
    background: var(--color-white);
    border-radius: 30px;
    padding: 25px 15px;
}