*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
:root{
    --color-bg: #F5FBF9;
    --color-primary: #0DC28F;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
}
.container{
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    padding: 20px;
}
.password-display{
    position: relative;
}
.password-display input{
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    background: #F2F5FA;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.25);
}
.password-display i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.password-display :nth-child(2){
    right: 50px;
}
.password-display #copyText{
    position: absolute;
    top: -15px;
    right: 40px;
    font-size: 18px;
}
.password-range{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    gap: 20px;
    position: relative;
}
.password-range i{
    width: 35px;
    height: 35px;
    background: #0DADE9;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: #fff;
    cursor: pointer;
}
.password-range i:first-child{
    background: #FD7684 !important;
}
.password-range .slider{
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    place-content: center;
    position: relative;
}
.slider input{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 14px;
    background: var(--color-primary);
    border-radius: 20px;
}
.password-range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    /* background: red; */
    border-radius: 50%;
    z-index: 3;
    position: relative;
    cursor: pointer;
}
#selector{
    width: 30px;
    height: 30px;
    background: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
}
.selectBtn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(238, 229, 229);
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.customize-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.customize-password .passType label{
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
}
.passType span{
    width: 40px;
    height: 16px;
    background: #EAEAEA;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: .3s ease;
} 
.passType-bg{
    background: var(--color-primary) !important;
}
.pass-switch-point{
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    position: absolute;
    /* left: 3px; */
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease;
}
@media screen and (max-width: 700px){
    .container {
        width: 90%;
    }
}