/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;  font-family: "Roboto", sans-serif;}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7581FF;
}
.container{
    max-width: 50%;
    width: 600px;
    margin: auto;
    padding: 2%;
    border-radius: 20px;
    background: #FFFFFF;
    text-align: center;
}
.container #emoji{
    width: 50px;
}
.container p{
    text-align: start;
    padding: 20px 0;
    font-size: 18px;
}
.container button{
    font-size: 20px;
    padding: 8px 26px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: #B4BCFF;
    cursor: pointer;
    transition: .3s;
}
.container button:hover{
    background: #7581FF;
}
@media  screen and (max-width: 700px) {
    .container {
        max-width: 70%;
        padding: 4%;
    }
}
@media  screen and (max-width: 500px) {
    .container {
        max-width: 80%;
        padding: 5%;
    }
    .container button {
        font-size: 18px;
        padding: 5px 20px;
    }
}